<!DOCTYPE html>
<html>
  <head>
    <title>ExcavationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

  </head>

  <body>
    <%= yield %>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

  </body>
</html>
